# -------------------------------
# Dependencies
# -------------------------------
node_modules/
*.tgz

# -------------------------------
# Output directories
# -------------------------------
out/
dist/

# -------------------------------
# Code coverage
# -------------------------------
coverage/
*.lcov

# -------------------------------
# Bun-specific files
# -------------------------------
bun.lockb
bunfig.toml

# -------------------------------
# Logs
# -------------------------------
logs/
*.log
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# -------------------------------
# Dotenv files
# -------------------------------
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# -------------------------------
# Caches and build info
# -------------------------------
.cache/
.eslintcache
*.tsbuildinfo

# -------------------------------
# IDE/editor settings
# -------------------------------
.idea/
.DS_Store
